img {
  /* width: 100%; */
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  border-bottom: 3px solid gray;
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.section-cta {
  background-color: #5fffbb;
}

.logo-text {
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}

.Typist {
  display: inline;
}

.home-img {
  max-height: 160px;
}
.home-img-2 {
  margin: 20px 0px;
  max-height: 120px;
}

.bg-black {
  background-color: black;
}

.homepage-banner {
  background-color: #ffa18d;
  color: white;
  display: inline-block;
  padding: 10px;
  margin-left: auto;
  border: 5px solid black;
  margin-right: auto;
  display: block;
  width: fit-content;
  display: inline-block;
}

.btn-signup {
  border-bottom: 3px solid #5effba !important;
  color: white !important;
}

.btn-login {
  border-bottom: 3px solid #ffd561 !important;
  color: white !important;
  margin-left: 15px;
}

.btn-submit {
  background-color: #ffd561;
  border: 0px solid black;
  color: black;
  font-family: 'Bree Serif', serif;
}

.btn-2-signup {
  background-color: #5effba;
  color: #000000;
  border-radius: 0;
}

.btn-3-signup {
  display: inline-block;
  background-color: #ffd561;
  border: 5px solid black;
  margin: 10px;
  border-radius: 0;
  color: black;
}

.display-4 {
  font-family: 'Bree Serif', serif;
}
h2 {
  font-family: 'Bree Serif', serif;
}
.btn-2-login {
  background-color: #ffd561;
  color: #000000;
  border-radius: 0;
}

.section-2 {
  /* background-color: #d1d1d1 !important; */
  background-color: #eaeaea !important;
}

/* .landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
}

.landing-inner {
  padding-top: 80px;
} */

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-salmon {
  background-color: #ffa18d !important;
  margin-bottom: -10px;
}

.section-pink {
  background-color: pink;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.card-login {
  border: 5px solid black;
}
