.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  border-bottom: 3px solid gray;
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  color: white;
  font-size: 24px;
  margin-right: 10px;
}

.section-cta {
  background-color: #5fffbb;
  background-image: url('https://www.transparenttextures.com/patterns/scribble-light.png');
}

.logo-text {
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}

.Typist {
  display: inline;
}

.home-img {
  max-height: 160px;
}
.home-img-2 {
  margin: 20px 0px;
  max-height: 120px;
}

.bg-black {
  background-color: black;
}

.homepage-banner {
  padding: 10px;
}

.btn-signup {
  border-bottom: 3px solid #5effba !important;
  color: white !important;
}

.btn-login {
  border-bottom: 3px solid #ffd561 !important;
  color: white !important;
  margin-left: 15px;
}

.btn-submit {
  background-color: #ffd561;
  border: 0px solid black;
  color: black;
  font-family: 'Bree Serif', serif;
}

.btn-2-signup {
  background-color: #5effba;
  color: #000000;
  border-radius: 0;
}

.btn-3-signup {
  display: inline-block;
  background-color: #ffd561;
  border: 5px solid black;
  margin: 10px;
  border-radius: 0;
  color: black;
}

.display-4 {
  font-family: 'Bree Serif', serif;
}
h2 {
  font-family: 'Bree Serif', serif;
}
h4 {
  font-family: 'Bree Serif', serif;
}

.green-text {
}

.card-header {
  padding: 0 !important;
}

.post-icon {
  background-color: #dddddd;
  color: #000000 !important;
  padding: 10px;
  font-size: 20px;
}
.btn-2-login {
  background-color: #ffd561;
  color: #000000;
  border-radius: 0;
}

.section-2 {
  /* background-color: #d1d1d1 !important; */
  background-color: #eaeaea !important;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-salmon {
  background-color: #ffa18d !important;
  margin-bottom: -10px;
  background-color: #ffa18d;
  background-image: url('https://www.transparenttextures.com/patterns/scribble-light.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.section-pink {
  background-color: pink;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.card-login {
  border: 5px solid black;
}

/* off canvas */

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: #6f42c1;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}
.lh-125 {
  line-height: 1.25;
}
.lh-150 {
  line-height: 1.5;
}

.bg-featured-email {
  background-color: limegreen;
  background: url('https://images.pexels.com/photos/4970/fashion-person-woman-hand.jpg?auto=compress&cs=tinysrgb&h=650&w=940');
}

/* editor */

.demo-toolbar-custom {
  border-color: rgb(0, 47, 126) !important;
  background-color: #9ebef5 !important;
}
.demo-editor-custom {
  height: 200px !important;
  border: 1px solid #f1f1f1 !important;
  padding: 5px !important;
  height: 75% !important;
  border-radius: 2px !important;
  border-color: rgb(0, 47, 126) !important;
}
.demo-option-custom {
  width: 15px !important;
  height: 15px !important;
  border-color: rgb(0, 47, 126) !important;
  color: rgb(0, 47, 126);
}
.demo-option-custom-wide {
  width: 125px !important;
  height: 25px !important;
  border-color: rgb(0, 47, 126) !important;
  color: rgb(0, 47, 126) !important;
}
.demo-option-custom-medium {
  height: 25px !important;
  border-color: rgb(0, 47, 126) !important;
  color: rgb(0, 47, 126) !important;
}
.demo-dropdown-custom {
  border-color: rgb(0, 47, 126) !important;
}
.demo-popup-custom {
  border-color: rgb(0, 47, 126) !important;
  padding: 5px !important;
}
.demo-popup-custom input {
  border-color: rgb(0, 47, 126) !important;
}
.demo-popup-custom button {
  border-color: rgb(0, 47, 126) !important;
}
.demo-section-wrapper {
  display: flex;
}
.demo-editor-wrapper {
  width: 60%;
}
.demo-section {
  margin: 50px 30px 20px;
  width: 95%;
}

/* JODIT */
.jodit_container .jodit_workplace,
.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar,
.jodit_container
  .jodit_toolbar
  > li.jodit_toolbar_btn.jodit_toolbar_btn-separator,
.jodit_container .jodit_toolbar > li.jodit_toolbar_btn.jodit_toolbar_btn-break {
  border-color: #03002c;
}
.jodit_container .jodit_toolbar,
.jodit_container .jodit_statusbar {
  background-color: #50e3c2;
}
.jodit_container {
  background-color: #ffffff;
}
.jodit_container .jodit_wysiwyg {
  color: #000000;
}
.jodit_container
  .jodit_toolbar
  > li.jodit_toolbar_btn.jodit_with_dropdownlist
  .jodit_with_dropdownlist-trigger {
  border-top-color: #000000;
}
.jodit_container .jodit_placeholder {
  color: #00000080;
}
